In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [12]:
# Directory containing the CSV files
csv_directory = 'D:/Caio Machado/Courses/Summer BootCamp 2023 - Predict Analytics/Anaconda Projects/GitHub Projects/youtube-analysis'

# List to hold DataFrames
df_list = []

# Iterate over all files in the directory
for filename in os.listdir(csv_directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(csv_directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path, encoding='latin1')
        # Append the DataFrame to the list
        df_list.append(df)

# Concatenate all DataFrames in the list
concatenated_df = pd.concat(df_list, ignore_index=True)

# Save the concatenated DataFrame to a new CSV file
output_file = 'D:/Caio Machado/Courses/Summer BootCamp 2023 - Predict Analytics/Anaconda Projects/GitHub Projects/youtube-analysis/combined.csv'
concatenated_df.to_csv(output_file, index=False)

print(f"All CSV files have been combined into {output_file}")

All CSV files have been combined into D:/Caio Machado/Courses/Summer BootCamp 2023 - Predict Analytics/Anaconda Projects/GitHub Projects/youtube-analysis/combined.csv

In [13]:
data = pd.read_csv('combined.csv', encoding='utf-8')

data.head()

  team_name     video_id        published_date  likes  views  comment
0  Botafogo  f1JdbkcXheA  2024-06-12T23:04:23Z  10623  85793      443
1  Botafogo  fWwzIRtNTXU  2024-06-03T22:37:14Z   8583  63615      273
2  Botafogo  TCxcMoK0PvI  2024-05-23T21:06:37Z   7743  60842      285
3  Botafogo  XRcakhuXuYs  2024-05-10T02:01:42Z   8299  65245      330
4  Botafogo  ZqrlmiGBjH0  2024-05-03T20:13:32Z   5486  44206      148